@charset "utf-8";

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Calibri, Arial, "Microsoft YaHei UI", "Microsoft JhengHei UI";
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-shadow: 0 1px 1px #fff;
    color: #404040;
}
a {
    font-weight: bold;
    text-decoration: none;
    color: #404040;
}
a:hover {
    text-decoration: none;
    color: #a4a4a4;
}
img {
    border: 0;
    vertical-align: middle;
}
h1, h2 {
    display: inline;
    font-size: 1em;
    font-weight: bold;
}
h2 {
    margin-left: 10px;
    color: #a4a4a4;
}
pre.prettyprint {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Droid Sans Mono", Menlo-Regular, "Iosevka Fixed Web", "Courier New"; /* Mobile first */
    font-size: 1em;
}
textarea.prettyprint {
    padding: 10px;
    height: 200px;
    font-family: "Droid Sans Mono", Menlo-Regular, "Iosevka Fixed Web", "Courier New"; /* Mobile first */
    font-size: 1em;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.centered {
    text-align: center;
}

/*
 * Header
 */

.nav-masthead .nav-link {
    padding: .25rem 0;
    border-bottom: .25rem solid transparent;
    color: #a4a4a4;
}
.nav-masthead .nav-link:hover {
    border-bottom-color: rgba(0,0,0,.25);
}
.nav-masthead .nav-link.active,
.nav-masthead .nav-link.active:hover {
    color: #000;
    border-bottom-color: #000;
}
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

/*
 * Cover
 */

#header span {
    padding-right: 10px;
}
#headline {
    position: absolute;
    top: 40%;
    text-align: center;
    z-index: 999;
}
#headline div {
    padding: 10px 0;
}
#headline a:hover,
#headline a.highlighted,
#headline a.highlighted:hover {
    color: #800;
}
#headline .spaced {
    padding: 5px;
}
#about {
    display: none;
}
#contact {
    display: none;
}
#connect {
    display: none;
}
#key {
    display: none;
}

/*
 * Footer
 */

.mastfoot {
}

/*
 * Affix and center
 */

.cover-container {
    width: 360px;
}
.masthead {
    position: absolute;
    top: 0.5em;
    left: 1em;
}
.tabcontent {
    padding: 0 2em;
    font-size: 0.9em;
}
#headline {
    width: 360px;
    font-size: 1em;
}
#about img {
    display: none;
}
#connect img {
    margin: 20px auto;
    width: 120px;
}

@media (min-width: 610px) { /* Pad (Portrait) */
    .cover-container {
        width: 600px;
    }
    .masthead {
        position: absolute;
        top: 0.5em;
        left: 1em;
    }
    .tabcontent {
        padding: 0 2em;
        font-size: 0.9em;
    }
    #headline {
        width: 600px;
        font-size: 1em;
    }
    #about img {
        display: none;
    }
    #connect img {
        margin: 20px auto;
        width: 180px;
    }
}

@media (min-width: 810px) { /* Desktop, Pad (Landscape) */
    body {
        background: #ffffff;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
        background: linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
    }
    .cover-container {
        width: 800px;
    }
    .masthead {
        position: absolute;
        top: 1em;
        right: 4em;
        left: auto;
    }
    .tabcontent {
        padding: 0;
        font-size: 1em;
    }
    #headline {
        width: 800px;
    }
    #about img {
        display: block;
        margin: 0;
        width: 240px;
    }
    #connect img {
        margin: 0;
        width: 240px;
    }
}
